.heading
{
    font-size: 30px;
    width: 75%;
    margin:0px;
    box-shadow: 5px 5px 5px rgb(0, 59, 253);
    background: rgb(255,40,40);
background: linear-gradient(90deg, rgba(255,40,40,1) 0%, rgba(248,81,31,1) 15%, rgba(0,14,255,1) 30%, rgba(0,250,255,1) 50%, rgba(45,44,165,1) 70%, rgba(255,0,113,1) 85%, rgba(255,0,65,1) 100%);
border-radius:20px;
margin-top: 15px;
border-width: 5px;
border-style:double;
font-family:serif;
font-weight: 50;
text-decoration:underline;
}

.heading_div
{
    float: none;
    background: rgb(0, 17, 255);
    padding: 20px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px black;
    
}

.heading_div2
{
    font-size: 18px ;
}

body
{
    background: rgb(255,40,40);
background: linear-gradient(90deg, rgba(255,40,40,1) 0%, rgba(248,81,31,1) 15%, rgba(0,14,255,1) 30%, rgba(0,250,255,1) 50%, rgba(45,44,165,1) 70%, rgba(255,0,113,1) 85%, rgba(255,0,65,1) 100%);
}

.heading_div:hover{background-color: rgb(255, 0, 0);}
